* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    margin: 0;
    padding: 20px;
}

.container {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background-color: #282828;
    padding: 20px;
    border: 2px solid #333;
}

.box {
    min-width: 100px;
    background-color: #888888;
    border: 2px solid #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column1>* {
    flex: 1;
}

.column1 {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.column2,
.column3,
.column4,
.column5,
.column6 {
    display: grid;
    gap: 20px;
}