* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    margin: 0;
    padding: 20px;
}

.container {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background-color: #282828;
    padding: 20px;
    border: 2px solid #333;
}

.box {
    min-width: 100px;
    background-color: #888888;
    border: 2px solid #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column1 {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.column1>* {
    flex: 2;
}

.column2 {
    display: grid;
    gap: 20px;
}

.column3 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr;
    gap: 20px;
}

.column4 {
    display: grid;
    gap: 20px;
}

.column5 {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}

.column6 {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}